<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wp.bosstest"
    android:versionCode="20160929"
    android:versionName="@string/version_name">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--android:theme="@style/StyledIndicators"-->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators"></activity>

        <!--StyledIndicators-->

        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".activity.MoreTaskActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="boss.action.more.task" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TaskDetailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="boss.action.task.detail.http" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="boss.action.task.detail.ed2k" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="boss.action.task.detail.thunder" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="boss.action.task.detail.ftp" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="boss.action.task.detail.magnet" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.ProcessDetailActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
