<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wp.cheez"
    android:versionCode="20180920"
    android:versionName="1.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AboutActivity"></activity>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            ></activity>
        <!--StyledIndicators-->

        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>

        <activity android:name=".activity.FillSpaceActivity"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".activity.MoreTaskActivity"
            android:label="@string/activity_more_task_label_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="boss.action.more.task" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TaskDetailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="boss.action.task.detail.http" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="boss.action.task.detail.ed2k" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="boss.action.task.detail.thunder" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="boss.action.task.detail.ftp" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="boss.action.task.detail.magnet" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="boss.action.task.detail.various" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".activity.ProcessDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <service android:name=".service.MonitorService"></service>
        <service android:name=".service.FpsService"></service>
        <service android:name=".service.UninstallAppService"/>
        <activity
            android:name=".activity.InstallAppActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.InstallAppDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PhoneActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activity.DownloadManagerActivity"
            android:screenOrientation="portrait"/>

        <meta-data android:name="android.max_aspect" android:value="2.1" />
    </application>

</manifest>
